{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}REPORTES DGSP | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVO REPORTE</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-empleado"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_empleado" class="form-label">
                Nombre del empleado que reporta
              </label>
              <input
                type="text"
                name="nombre_empleado"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="apellido_empleado" class="form-label">
                Apellido del empleado
              </label>
              <input
                class="form-control"
                type="text"
                name="apellido_empleado"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="sexo_empleado" class="form-label">
                Centro de Reporte
              </label>
              <select
                class="form-select"
                name="sexo_empleado"
                aria-label="Default select example">
                <option selected>Seleccione</option>
                <option value="1">Acambaro</option>
                <option value="2">Celaya</option>
                <option value="2">Guanajuato</option>
                <option value="3">Irapuato</option>
                <option value="4">Leon</option>
                <option value="5">Penjamo</option>
                <option value="6">Salamanca</option>
                <option value="7">San Felipe</option>
                <option value="8">San Miguel</option>
                <option value="9">Valle1</option>
                <option value="10">Valle2</option>
                <option value="11">Valle3</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="telefono_empleado" class="form-label">
                Extension del Empleado
              </label>
              <input
                class="form-control"
                type="text"
                name="telefono_empleado"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="email_empleado" class="form-label">
                Email del empleado
              </label>
              <input
                class="form-control"
                type="email"
                name="email_empleado"
                required />
            </div>
            <div class="col-md-6">
              <label for="profesion_empleado" class="form-label">
                Detalle del reporte
              </label>
              <input
                class="form-control"
                type="text"
                name="profesion_empleado"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="salario_empleado" class="form-label">
                Prioridad del Reporte
              </label>
              <input
                class="form-control"
                type="text"
                name="salario_empleado"
                id="salario_empleado"
                required />
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">
                Carga Evidencia del Reporte
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="foto_empleado"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  <div class="avatar-preview">
                    {% set url_avatar= url_for('static', filename
                    ='assets/img/avatar.png') %}
                    <div
                      id="imagePreview"
                      style="background-image: url('{{ url_avatar }}')"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar reporte ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
